<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_load_before">
        <observer name="panth_checkout_success_enabled_handle"
                  instance="Panth\CheckoutSuccess\Observer\AddEnabledLayoutHandle"/>
    </event>
</config>
